body {
    /* background-color: lightgray; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 23px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.common{
    /* background-color: lightgray; */
    /* border: 2px solid white; */
    position: absolute;
}

.mainheader{
    top: 0px;
    left: 0px;
    right: 0px;
    height: 90px;
    z-index: 2;
    background-color: rgb(0, 0, 0);
    text-align: center;
    font-size: 20px;
    color: white;
    font-weight: bold;
    padding-top: 5px;

}


.secondheader{
    top: 80px;
    left: 0px;
    right: 0px;
    height: 25px;
    padding-top: 5px;
    padding-left: 5px;
    z-index: 2;
    background-color: lightgray;
    text-align: left;
    font-size: 15px;
}

.leftmenu{
    top: 114px;
    left: 5px;
    width: 100px;
    bottom: 39px;
    z-index: 1;
    padding-top: 80px;
}

.rightmenu{
    top: 114px;
    right: 5px;
    width: 100px;
    bottom: 39px;

}

.mainbody{
    top: 114px;
    right: 0px;
    left: 0px;
    bottom: 39px;
    text-align: center
}

.footer{
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 25px;
    font-size: 9px;
    text-align: center;
    padding-top: 15px;
    position: fixed;
    z-index: 2;
    background-color: rgb(0, 0, 0);
    color: white;


}